.overview-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 60px;
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100vw;
    height: auto;
}

.overview-content {
    padding: 0px 20px;
    margin-bottom: 20px;
    max-width: 90vw;
}

.header {
  text-align: center;
  color: white;
  font-size: 35px;
}