.grid {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr 2fr;
    min-height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    justify-items: center;
    align-items: center;
    padding-top: 100px;
}

.item-a {
    align-self: end;
    opacity: 0.5;
    transform: scale(1.5);
  }

.item-b {
    align-self: start;
    opacity: 0.5;
    transform: scale(1.5);
  }
  

.grid > div:nth-child(2) {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    z-index: 1;
}

.grid > div:nth-child(3) {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    z-index: 2;
}

.range-style {
    width: 100vw;
    transform: rotate(90deg);
    mix-blend-mode: multiply;
}

input[type=range]{
    -webkit-appearance: none;
    background: linear-gradient(to right, #02ADF5, #FF951C);
    background:none;
    transform: rotate(-180deg);
    width: 100vw;
    margin: 0px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 100px;
    width: 100px;
    /* filter: blur(5px); */
    border-radius: 100px;
    background: linear-gradient(to left, rgb(255, 209, 83),  rgb(255, 107, 89));
    background-blend-mode: difference;
    opacity: 0.5;
    cursor: pointer;
  }

.grid-text {
    display: grid;
    justify-items: center;
    align-items: center;
    pointer-events: none;
    transition: ease-in 2s;
}

.mood-h2 {
    color: white;
    font-size: 4rem;
    line-height: 3.5rem;
    text-align: center;
    opacity: 0.7;
    margin: 0px;
}

.mood-button {
    border: solid 1px white;
    border-radius: 10px;
    color: white;
    background: none;
    transform: scale(1.2);
}