.myTags {
    background-color: grey;
    border-radius: 2rem;
    color: lightgray;

    max-width: max-content;
    padding: 0.5rem 1rem;
}

body {
    display: grid;
    margin: 0.2rem;
    grid-template-rows: 1;
    grid-template-columns: auto;
    justify-items: center;
}